@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

* {
    font-family: 'Maven Pro', sans-serif;
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}

:root {
    --hover-color:  #775f5f;
    --link-color:  #232e11;
    --hover-border: rgb(133, 35, 35);
    --white: #fff;
    --box-shadow: rgb(230, 225, 225);
}

.logo {
    font-weight: 700;
    font-size: 1rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    border-bottom: 6px solid var(--white);
    box-shadow: 0px 6px 8px var(--box-shadow);
    gap: 0rem 8rem;
}

.nav ul {
    list-style-type: none;
    display: flex;
    column-gap: 1rem;
    align-items: center;
    padding: 0rem;
    margin: 0rem;
}

.nav ul li a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 400;
}

.nav ul li a:hover {
    /* background-color: rgb(36, 37, 36); */
    border-bottom: 2px solid var(--hover-border);
    color: var(--hover-color);
    transition: color 1000ms ease-in;
}
